[Unit]
Description=Daily DoHDNS RU GeoIP update

[Timer]
OnCalendar=*-*-* 04:17:00
Persistent=true
RandomizedDelaySec=45m

[Install]
WantedBy=timers.target
