ADGUARD_VERSION=0.107.78
ADGUARD_ARCH=amd64
UPSTREAM_DNS_1=https://dns10.quad9.net/dns-query
UPSTREAM_DNS_2=https://dns.cloudflare.com/dns-query
UPSTREAM_DNS_3=https://dns.google/dns-query
BOOTSTRAP_DNS_1=9.9.9.10
BOOTSTRAP_DNS_2=149.112.112.10
HEALTH_SUCCESS_THRESHOLD=3
HEALTH_FAILURE_THRESHOLD=2
